@import "tailwindcss";

@layer base {
    /* width */
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    /* track */
    ::-webkit-scrollbar-track {
        background: grey;
    }

    /* handle */
    ::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.726);
        border-radius: 8px;
    }
}

.emote-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.emote-scroll::-webkit-scrollbar-thumb {
    background: rgba(236, 236, 236, 0.493);
    border-radius: 8px;
}

/* Firefox scoped
.custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
} */
